.footer{
  font-size: 13px;
  margin: auto;
  left: auto;
  bottom: 0;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 400;
}
span{
  font-weight: bold;
}
