<div class="w-75 mt-2 glass">
  <div class="row ml-0">
    <div class="col-md-12">
      <h4 class="mb-3">Create Delivery</h4>
      <form
        [formGroup]="formRegisterDelivery"
        (validSubmit)="onSubmit()"
      >
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="nameInput">Name</label>
            <input
              type="text"
              class="form-control"
              name="nameInput"
              formControlName="Name"
              placeholder="Nicholas"
            />
            <div class="invalid-feedback">Valid name is required.</div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="ageInput">Age</label>
            <input
              type="number"
              class="form-control"
              placeholder="25"
              formControlName="Age"
              name="ageInput"
            />
            <div class="invalid-feedback">Valid age is required.</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="quantityInput">Quantity of products</label>
            <input
              type="number"
              class="form-control"
              name="quantityInput"
              placeholder="6"
              formControlName="QuantityProd"
            />
            <div class="invalid-feedback">Valid quantity is required.</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="country">Region</label>
            <select
              class="custom-select d-block w-100"
              [(ngModel)]="continentType"
              (ngModelChange)="onChange($event)"
              [ngModelOptions]="{standalone: true}"
              name="country"
            >
              <option value="">Choose...</option>
              <option value="americas">America</option>
              <option value="oceania">Oceania</option>
              <option value="africa">Africa</option>
              <option value="europe">Europe</option>
            </select>
          </div>
          <div class="col-md-6 mb-3">
            <label for=countryInput>Country</label><br />
            <input
            type="text"
            class="form-control"
            placeholder="Select region first"
            formControlName="Country"
            name="countryInput"
          />
            <div class="invalid-feedback">The country is required.</div>
          </div>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" [(ngModel)]='isTipsChecked' [ngModelOptions]="{standalone: true}" id="acceptTips">
          <label class="custom-control-label" for="acceptTips">Can recived Tips?</label>
        </div>

        <hr class="mb-4" />
        <button class="btn btn-lg btn-block" type="submit">
          <span *ngIf="isLoading" class="loadingMoto">🛵💨</span>
          <span *ngIf="!isLoading">Add Delivery 🛵</span>
        </button>
      </form>
    </div>
  </div>
</div>
