.row{
  margin: 0;
}
.delivery{
  position: fixed;
  bottom: 0;
  right: 30%;
  z-index: -1;
  margin-bottom: 14px;
}


@-webkit-keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

 .form {
  -webkit-animation: fadein 1s ease-in ;
  -moz-animation: fadein 1s ease-in;
  animation: fadein 1s ease-in;
}

.countries{
  -webkit-animation: fadein 1s ease-in ;
  -moz-animation: fadein 1s ease-in;
  animation: fadein 1s ease-in;
}
