<form class="glass">
  <div class="form-group form-inline">
    Full text search:
    <input class="form-control ml-2" type="text" name="searchTerm" />
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" sortable="name" (sort)="onSort($event)">Delivery</th>
        <th scope="col" sortable="age" (sort)="onSort($event)">Age</th>
        <th scope="col" sortable="country" (sort)="onSort($event)">Country</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let delivery of deliveries">
        <th scope="row">{{ delivery.name }}</th>
        <td>
          <ngb-highlight [result]="delivery.name"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="delivery.age | number"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="delivery.country.name"></ngb-highlight>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination> </ngb-pagination>

    <select class="custom-select" style="width: auto" name="pageSize">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>
  </div>
</form>

