.list-group{
  max-height: 300px;
  overflow-y: scroll;
}

.glass{
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(166, 72, 29, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  z-index: 100;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding:3rem;
}

.list-group-item:hover{
  background-color: orange;
  cursor: pointer;
  
}

.list-group-item{
  border: none;
  border-radius: 14px;
  background-color: transparent;
}