<div class="row m-auto">
  <div class="col-md-8">
    <div class="card" [ngClass]="{ selectedDelivery: isDeliverySelected }">
      <div class="face front">
        <app-list-deliveries
          (deliverySelected)="addDelivery($event)"
        ></app-list-deliveries>
      </div>
      <div class="face back">
        <app-list-pizzas
          [pizzas]="totalPizzas"
          (pizzaSelectedAdd)="addPizza($event)"
        ></app-list-pizzas>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <app-order-info
      [delivery]="selectedDelivery"
      [pizzas]="selectedPizzas"
      [total]="total"
    ></app-order-info>
  </div>
</div>

<svg
  viewBox="0 0 500 500"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  width="100%"
  id="blobSvg1"
>
  <defs>
    <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
      <stop offset="0%" style="stop-color: rgb(200, 77, 28)"></stop>
      <stop offset="100%" style="stop-color: rgb(246, 176, 78)"></stop>
    </linearGradient>
  </defs>
  <path
    id="blob"
    d="M405.5,315.5Q325,381,227.5,419.5Q130,458,98,354Q66,250,106,160Q146,70,236,94Q326,118,406,184Q486,250,405.5,315.5Z"
    fill="url(#gradient)"
  ></path>
</svg>
<div class="circle"></div>
