.row {
  h2{
    margin: 0;
  }
}

svg {
  position: fixed;
  z-index: -1;
  max-width: 600px;
  top: 0;
}

.circle {
  position: fixed;
  z-index: -1;
  width: 300px;
  height: 300px;
  bottom: -50px;
  right: -50px;
  border-radius: 50%;
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f5af19,
    #f12711
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f5af19,
    #f12711
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card .face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 70%;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  transform-style: preserve-3d;
  transition: 1s;
  backface-visibility: hidden;
}

.card .face.back {
    transform: rotateY(180deg);
}
.selectedDelivery .face.front{
  transform: rotateY(180deg);
}

.selectedDelivery .face.back{
  transform: rotateY(360deg);
}

@media (max-width: 600px) {
  .selectedDelivery .face.front{
    transform: rotateY(180deg);
    display: none;
  }
  
  .selectedDelivery .face.back{
    transform: rotateY(360deg);
    position: relative;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(166, 72, 29, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    z-index: 100;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}